.service_logo {
    -fx-cursor: hand;
}

.background-image {
    -fx-background-color: #fff;
}

.btn {
    -fx-cursor: hand;
    -fx-background-color: #fff;
    -fx-border-radius: 0;
}


.btn_logout {
    -fx-cursor: hand;
    /*-fx-background-color: #fff;*/
}

.btn_primary {
    -fx-background-color: #337ab7;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}
