<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
        <session-factory>
                <!-- Affiche les logs SQL -->
                <property name="show_sql">true</property>
                <!--        <property name="hibernate.format_sql">true</property>-->
                <!--        <property name="use_sql_comments">true</property>-->
                <!--  Paramètres de connexion à la base de données -->
                <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
                <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
                <!--<property name="hibernate.connection.url">jdbc:mysql://10.29.143.42:3306/bd_java</property>-->
                <property name="hibernate.connection.url">jdbc:mysql://localhost:8889/hotel</property>
                <property name="hibernate.connection.username">root</property>
				<property name="hibernate.connection.password">root</property>

            <!-- Comportement pour la conservation des tables -->
                <property name="hbm2ddl.auto">validate</property>

            <!-- Fichiers à mapper -->
        <mapping class="src.Metier.Agence"/>
        <mapping class="src.Metier.Aliment"/>
        <mapping class="src.Metier.AlimentCommandeAssoc"/>
        <mapping class="src.Metier.Boisson"/>
        <mapping class="src.Metier.Chambre"/>
        <mapping class="src.Metier.Client"/>
        <mapping class="src.Metier.ClientAgenceAssoc"/>
        <mapping class="src.Metier.Commande"/>
        <mapping class="src.Metier.CommandeAssoc"/>
        <mapping class="src.Metier.CommandePieceAssoc"/>
        <mapping class="src.Metier.Criticite"/>
        <mapping class="src.Metier.DemandeIntervention"/>
        <mapping class="src.Metier.DemandeUtilisateur"/>
        <mapping class="src.Metier.Droit"/>
        <mapping class="src.Metier.DroitRoleAssoc"/>
        <mapping class="src.Metier.EquipementHotel"/>
        <mapping class="src.Metier.EquipementRestaurant"/>
        <mapping class="src.Metier.EquipementSpa"/>
        <mapping class="src.Metier.FacturationAssoc"/>
        <mapping class="src.Metier.Facture"/>
        <mapping class="src.Metier.Menu"/>
        <mapping class="src.Metier.PieceDeRechange"/>
        <mapping class="src.Metier.Plat"/>
        <mapping class="src.Metier.PlatAlimentAssoc"/>
        <mapping class="src.Metier.Rapport"/>
        <mapping class="src.Metier.ReservationHotel"/>
        <mapping class="src.Metier.ReservationRestaurant"/>
        <mapping class="src.Metier.ReservationSpa"/>
        <mapping class="src.Metier.RestaurantAssoc"/>
        <mapping class="src.Metier.Role"/>
        <mapping class="src.Metier.Spa"/>
        <mapping class="src.Metier.TableRestaurant"/>
        <mapping class="src.Metier.Tva"/>
        <mapping class="src.Metier.Utilisateur"/>
            <mapping class="src.Metier.Agence"/>
            <mapping class="src.Metier.Aliment"/>
            <mapping class="src.Metier.AlimentCommandeAssoc"/>
            <mapping class="src.Metier.Boisson"/>
            <mapping class="src.Metier.Chambre"/>
            <mapping class="src.Metier.Client"/>
            <mapping class="src.Metier.ClientAgenceAssoc"/>
            <mapping class="src.Metier.Commande"/>
            <mapping class="src.Metier.CommandeAssoc"/>
            <mapping class="src.Metier.CommandePieceAssoc"/>
            <mapping class="src.Metier.Criticite"/>
            <mapping class="src.Metier.DemandeIntervention"/>
            <mapping class="src.Metier.DemandeUtilisateur"/>
            <mapping class="src.Metier.Droit"/>
            <mapping class="src.Metier.DroitRoleAssoc"/>
            <mapping class="src.Metier.EquipementHotel"/>
            <mapping class="src.Metier.EquipementRestaurant"/>
            <mapping class="src.Metier.EquipementSpa"/>
            <mapping class="src.Metier.FacturationAssoc"/>
            <mapping class="src.Metier.Facture"/>
            <mapping class="src.Metier.Menu"/>
            <mapping class="src.Metier.PieceDeRechange"/>
            <mapping class="src.Metier.Plat"/>
            <mapping class="src.Metier.PlatAlimentAssoc"/>
            <mapping class="src.Metier.Rapport"/>
            <mapping class="src.Metier.ReservationHotel"/>
            <mapping class="src.Metier.ReservationRestaurant"/>
            <mapping class="src.Metier.ReservationSpa"/>
            <mapping class="src.Metier.RestaurantAssoc"/>
            <mapping class="src.Metier.Role"/>
            <mapping class="src.Metier.Spa"/>
            <mapping class="src.Metier.TableRestaurant"/>
            <mapping class="src.Metier.Tva"/>
            <mapping class="src.Metier.Utilisateur"/>
        </session-factory>
</hibernate-configuration>
