<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
     "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
    
<hibernate-configuration>
	<session-factory>
		<!-- Affiche les logs SQL -->
			<property name="show_sql">true</property>
<!--		<property name="hibernate.format_sql">true</property>-->
<!--		<property name="use_sql_comments">true</property>-->

	<!--  Paramètres de connexion à la base de données -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> 
		<!--<property name="hibernate.connection.url">jdbc:mysql://10.29.143.42:3306/bd_java</property>-->
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/db_hibernate</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>

		<!-- Comportement pour la conservation des tables -->
		<property name="hbm2ddl.auto">validate</property>

		<!-- Fichiers à mapper -->
		<mapping class="Metier.Utilisateur" />
		
	
	</session-factory>
</hibernate-configuration>
