.icone_btn {
    -fx-cursor: hand;
    -fx-padding : 10px 10px 10px 40px;
    -fx-border-radius: 0;
    -fx-background-image: url('/src/image/icons/check.png');
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
}